<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTechCogitareBankUtils01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BTechCogitareBankUtils01.Properties.Settings>
            <setting name="BTechCogitareBankUtils01_pl_pekaobiznes24_www_pekao_ccs_001_01"
                serializeAs="String">
                <value>http://www.pekaobiznes24.pl/pekao-ccs/ccs00101</value>
            </setting>
        </BTechCogitareBankUtils01.Properties.Settings>
    </applicationSettings>
</configuration>